body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

a {
  color: seashell;
}

header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;

}

.logo img {
  height: 50px;
  padding-left: 10px;
  justify-content: flex-start;

}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: underine;

}

.imagebanner {
  background-image: url("./resources/images/img-mission-background.jpg")
  display: flex;
  align-items: center;
  height: 700px;
  z-index: 2;

}

.intro {
  background-color: black;
  display: flex;
  align-items: center;

}


.teaphoto {
  height: 200px;
  width: 300px;

}
