body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  max-width: 1200px;

}

a {
  color: seashell;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;

}

.logo img {
  height: 50px;

}

header nav {
  padding-right: 10px;
  justify-content: flex-end;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-align: right;


}

/* Mission Banner */

.imagebanner {
  background-image: url("./resources/images/img-mission-background.jpg")
  display: flex;
  align-items: center;
  height: 700px;
  width: 100%;
  z-index: 2;

}

.intro {
  background-color: black;
  display: flex;
  align-items: center;

}

/* Tea of the Month Section */

.teaofthemonth {
  display: flex;
  width: 1000px;
  z-index: 3;

}

.teaphoto {
  height: 200px;
  width: 300px;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;

}

 /* Locations Section */

 .locations {
   display: flex;
   z-index: 4;

 }

 /* Footer */
