body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

a {
  color: seashell;
}

header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;

}

.logo img {
  height: 50px;
  padding-left: 10px;
  justify-content: flex-start;

}

nav {
  display: flex;
  justify-content: flex-end;

}

nav span {
  text-decoration: underline;
  display: inline-block;
  padding: auto 10px;

}
